/* CSS news feeds */


.flex_container_news { 
  display: flex;
  justify-content: space-around;
} 

h2{
	text-align: center;
}

.without_padding_margin {
  padding: 0em;
  margin: 1em;
}
.newfeed_container {
  position: relative;
  width: auto;
  max-width: 30em;
  height: auto;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 2em 2em 2em 2em;
  border: 2px solid black;
  background: grey;
}
.newfeed_head {
  position: relative;
  height: 5em;
  padding: 1em;
  text-align: center;
}
.text_newfeed_head {
  color: white;
  font-size: xx-large;
  font-family: Arial;
}
.newfeed_info {
  position: relative;
  height: 30em;
  padding: 1em;
  margin: 0em;
  background: white;
  overflow: auto;
}
.text_newfeed_info {
  color: black;
  font-size: x-large;
  font-family: Arial;
}
.newfeed_foot {
  position: relative;
  height: 5em;
  text-align: center;
}
.text_newfeed_foot {
  color: white;
  font-size: large;
  font-family: Arial;
}

