div.gallery {
  border: 3px solid #333;
  height: 780px;
  background: #F5F5F5;
  overflow: hidden;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 400px;
}

div.desc {
  padding: 15px;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
  height:absolute;
  text-overflow: ellipsis; 
  }

  div.picturehead{

	  text-align:center;
	
  }

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 6px;
  float: left;
  width: 24.99999%;
}


@media only screen and (max-width: 1024px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 812px) {
  .responsive {
    width: 49.99999%;
  }
  div.gallery{
    height: 780px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  div.gallery{
    height: auto;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
