.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/*.topnav a.active {
	background-color: #4CAF50;
	color: white;
}
*/
.topnav .icon {
	display: none;
}

.topnav a{
	font-family: "Amatic SC";
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;} 
/*	.topnav a:nth-child(1n+0) {display: .topnav a;}
*/	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
}

/* CSS feeds */

.newfeed_container {
  position: relative;
  width: 35em;
  height: auto;
  margin-top: 0%;
  margin-left: 10%;
  border: 3px solid black;
}
.newfeed-block1 {
  position: relative;
  height: 2em;
  padding: 1em;
  text-align: center;
  background: DimGray;
  /* border: 2px solid blue; */
}
.newfeed-block2 {
  position: relative;
  height: 30em;
  padding: 1em;
  margin: 1em;
  overflow: auto;
  background: white;
  /* border: 2px solid red; */
}
.newfeed-block3 {
  position: relative;
  height: 3em;
  text-align: center;
  background: grey;
  /* border: 2px solid blue; */
}
  .text_newfeed_top {
  color: white;
  font-size: xx-large;
  font-family: Arial;
}
  .text_newfeed_middle {
  color: black;
  font-size: x-large;
  font-family: Arial;
}
  .text_newfeed_bottom {
  color: black;
  font-size: large;
  font-family: Arial;
}
.without_padding_margin {
  padding: 0em;
  margin: 1em;
}
